.contact_block {
  overflow-y: scroll;
  height: 540px;
}

.contact_block::-webkit-scrollbar {
  width: 5px;
}

.contact_block::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.contact_block::-webkit-scrollbar-thumb {
  background: #32174a;
  border-radius: 10px;
}
